[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 default_realm = {{ realm_name|upper() }}
 dns_lookup_realm = false
 dns_lookup_kdc = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true

[realms]
 {{ realm_name| upper() }} = {
  kdc = {{ kdc_hostname }}
  admin_server = {{ kdc_hostname }}
 }

[domain_realm]
 .{{ realm_name|lower() }} = {{ realm_name|upper() }}
  {{ realm_name|lower() }} = {{ realm_name|upper() }}
